body {
    margin: 1rem auto;
    padding: 3rem;
    font-family: 'sans-serif';
}

header {
    width: 50%;
    margin: 1rem auto;
}
#board {
    max-width: 50%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:1rem;
    background-color: teal;
}
.square {
    min-height: 1.3em;
    text-align: center;
    background-color: white;
    font-size: 5rem;
    font-family: monospace;
    color: black;
}
